### Java Spring ###
.classpath
.project
.settings/
target/
bin/

### Build ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/main/resources/application.yml
!src/build/

### VS Code ###
.vscode/